@import "tailwindcss";

@theme {
  /* Colors */
  --color-brand-bg: #FBF8F3;
  --color-brand-surface: #FFFFFF;
  --color-brand-dark: #554841;
  --color-brand-accent: #C18676;
  --color-brand-accent-light: #F5EBE8;
  --color-brand-text-secondary: #8D8078;

  /* We override the default background and foreground to our light theme */
  --color-background: var(--color-brand-bg);
  --color-foreground: var(--color-brand-dark);
  
  --font-sans: var(--font-quicksand), "Quicksand", sans-serif;

  --animate-bounce-slow: bounce-slow 3s infinite ease-in-out;
  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(-5%);
    }
    50% {
      transform: translateY(5%);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-dark);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
